<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airnmap.airbackdroptsk" >

<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.GET_TASKS" />


<application>
<receiver android:name="com.airnmap.airbackdroptsk.BDFetchAlarmReceiver" />
<service
    android:name="com.airnmap.airbackdroptsk.BDFetchJobService"
    android:exported="true"
    android:permission="android.permission.BIND_JOB_SERVICE" />

<receiver android:name="com.airnmap.airbackdroptsk.BDBootReceiver" >
    <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

    </intent-filter>
</receiver>

</application>
    </manifest>